td {
  width: 20px;
  max-width: 20px;
}
.peoplecard {
  min-width: 380px;
  max-width: 350px;
  border-radius: 20px;
  margin: 20px;
}

.manager {
  background-color: #fff2cb;
}

.member {
  background-color: #E1F1FF;
}

.me {
  background-color: #d3ffd0;
}
