.toolbar-container{
    position: fixed;
    bottom: 0px;
    left: 58%;
    transform: translateX(-50%);
    width: 50%;
    height: 8%;
    box-shadow: 0px 0px 2px 2px rgb(224, 224, 224);
    max-width: 1230px;
    background-color: #F7F7F7;
    border-radius: 20px 20px 0px 0px;
    
}

.customshine{
    box-shadow: 0px 0px 3px 3px rgba(95, 151, 224, 0.685);
}