.drawer {
    position: absolute;
    z-index: 10;
    min-width: 300px;
    height: 100%;
    left:5px;
    top: 60px;
    background-color: white;
    box-shadow: 0 0 5px #5a5757;
    height: 100%;
}

.drawer-button {
    width: 40px;
    position: absolute;
    z-index: 10;
    left:5px;
    border: none;
}

.drawer-button:hover {
    animation: 1s rotatefresh;
}


@keyframes rotatefresh {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        transition-duration: 1s;
        transition: 1s;
    }
}

@keyframes SlideLeft {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: -50%;
    }

    100% {
        margin-left: 0;
    }
}

.drawer.enter{
    animation: SlideRight 1s;
    animation-fill-mode: forwards;
}

.drawer.exit {
    animation: SlideLeft 1s;
    animation-fill-mode: forwards;
}
