.rightColumn {
    background-color: #F7F7F7;
}

.line {
    background-color: #64000000;
    height: 5px;
    width: 200;
}

p.m-0.p-0 {
    font-size: 15px;
}

.btn img {
    max-width: 40px;
    max-height: 40px;
}

.content {
    min-height: 800px;
    background-color: white;
    border-radius: 10px;
}

/* #bkstudiocontent {
    height: 1000px !important;
} */

.customimagecontainer {
    overflow: hidden;
}

.customimageshape{
    height: 100%;
    width: auto;
}