.toolbar-container{
    position: fixed;
    bottom: 0px;
    left: 58%;
    transform: translateX(-50%);
    width: 60%;
    box-shadow: 0px 0px 2px 2px rgb(212, 212, 212);
    max-width: 1230px;
    background-color: #F7F7F7;
    border-radius: 20px 20px 0px 0px;
}