.component-table{
    overflow: scroll;
}

.component-table td, .component-table th {
    border: 1px solid #000;
}

.component-table td, .component-table thead tr th, .component-table tbody td{
    overflow: hidden;
    padding: 10px;
    min-width: 100px;
    width: auto;
}

.component-table {
    overflow: scroll;
}
.component-container{
    margin: auto;
    overflow: scroll;
}