h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
tr,
th,
td,
p {
    font-family: "Mulish";
   
}

.customFontRoboto{
    font-family: "Roboto";
}


.customFontBold{
    font-weight: 900;
}

.redColor{
    color: red;
}