h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
tr,
th,
td,
p {
    font-family: "Mulish";
   
}

.customFontRoboto{
    font-family: "Roboto";
}


.customFontBold{
    font-weight: 900;
}

.redColor{
    color: red;
}

.customBorder {
    box-shadow: 0px 0px 10px #0085ff;
}

.PrimaryFontColor{
    color: #034078;
}

.C4FontColor {
    color: #C4C4C4;
}

.SecondFontColor{
    color: #0089ED;
}
.size40 {
    font-size: 40px;
}
.size32{
    font-size: 32px;
}
.size30 {
    font-size: 30px;
}

.size18{
    font-size: 18px;
}

.size16{
    font-size: 16px;
}

.size24{
    font-size: 24px;
}
.size24 {
    font-size: 24px;
}
.size22{
    font-size: 22px;
}
.size20 {
    font-size: 22px;
}